- title t('.title')

- if can? :new, Product
  %p.nav= link_to t('.new_product'), new_product_path, class: 'new'

- if @products.limit(1).size > 0
  %table
    %thead
      %tr
        %th= Product.human_attribute_name :name
        %th= Product.human_attribute_name :price
        %th{colspan: 3}= t 'actions'

    %tbody
      - @products.each do |product|
        %tr{class: cycle(:odd, :even)}
          %td= product.name
          %td= product.price
          %td.action
            - if can? :show, product
              = link_to t('show'), product, class: 'show'
          %td.action
            - if can? :edit, product
              = link_to t('edit'), edit_product_path(product), class: 'edit'
          %td.action
            - if can? :destroy, product
              = link_to t('destroy'), product,
                data: {confirm: t('.confirm', default: 'Are you sure?')},
                method: :delete, remote: true, class: 'destroy'
- else
  .empty
    = t '.empty'
